tr,td{
    border:1px;
    border-style: solid;
}
td{
    height: 50px;
    width: 50px;
    background-color: white;
}

td:hover {
    background-color: rgb(235, 232, 232);
}

.top-container {
    padding: 1rem;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    align-items: center; */
}



#grid {
    padding: 1rem;
}

.button {
    border-radius: 8px;
    font-size: 14px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(209, 209, 209);
}