tr,td{
    border:1px;
    border-style: solid;
}
td{
    height: 50px;
    width: 50px;
    background-color: white;
}

.top-container {
    padding: 1rem;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    align-items: center; */
}

td:hover {
    background-color: rgb(235, 232, 232);
}

#grid {
    padding: 1rem;
}